<% require 'json'
%>
<% require 'open-uri'
%>

<h1><%= @word %></h1>

<% if @user_found && @included %>
<%= "Congratulation you won!" %>
<% else %>
<%= "Unfourtunately this word isn´t in the dictionary" %>
<% end %>
<%= link_to "play a new game", new_path %>
